In [1]:
import sys
from pathlib import Path

sys.path.append(str(Path().resolve().parent)) # katalog główny repo do sys.path

In [2]:
from src.data_loading import load_data, merge_data

transactions_df, customers_df, articles_df = load_data()
df = merge_data(transactions_df, articles_df)

Data path: data\raw

In [3]:
from src.utils import describe_columns
describe_columns(df)

,Total,Uniques,Missing,DataType,MostFrequent,LeastFrequent
t_dat,31788324,734,0,object,2019-09-28,2020-01-01
customer_id,31788324,1362281,0,object,be1981ab818cf4ef6765b2ecaea7a2cbf14ccd6e8a7ee9...,e74dcc41a6ecb3d69478b05b50fb5f91d4ebd2b5a9ba89...
article_id,31788324,104547,0,int64,706016001,873278006
price,31788324,9857,0,float64,0.016932,0.25061
sales_channel_id,31788324,2,0,int64,2,1
product_code,31788324,46834,0,int64,706016,942035
prod_name,31788324,45508,0,object,Jade HW Skinny Denim TRS,Delila WL boot
product_type_no,31788324,131,0,int64,272,483
product_type_name,31788324,130,0,object,Trousers,Clothing mist
product_group_name,31788324,19,0,object,Garment Upper body,Fun
graphical_appearance_no,31788324,30,0,int64,1010016,1010029
graphical_appearance_name,31788324,30,0,object,Solid,Hologram
colour_group_code,31788324,50,0,int64,9,80
colour_group_name,31788324,50,0,object,Black,Other Turquoise
perceived_colour_value_id,31788324,8,0,int64,4,-1
perceived_colour_value_name,31788324,8,0,object,Dark,Unknown
perceived_colour_master_id,31788324,20,0,int64,5,16
perceived_colour_master_name,31788324,20,0,object,Black,Bluish Green
department_no,31788324,299,0,int64,4242,5787
department_name,31788324,250,0,object,Swimwear,Shirt Extended inactive from s1
index_code,31788324,10,0,object,A,J
index_name,31788324,10,0,object,Ladieswear,"Children Accessories, Swimwear"
index_group_no,31788324,5,0,int64,1,4
index_group_name,31788324,5,0,object,Ladieswear,Baby/Children
section_no,31788324,57,0,int64,15,17
section_name,31788324,56,0,object,Womens Everyday Collection,Men Other
garment_group_no,31788324,21,0,int64,1005,1014
garment_group_name,31788324,21,0,object,Jersey Fancy,Dresses/Skirts girls
detail_desc,31673297,43033,115027,object,High-waisted jeans in washed superstretch deni...,Long-sleeved jacket in soft faux shearling wit...

In [5]:
describe_columns(customers_df)

,Total,Uniques,Missing,DataType,MostFrequent,LeastFrequent
customer_id,1371980,1371980,0,object,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...
FN,476930,1,895050,float64,1.0,1.0
Active,464404,1,907576,float64,1.0,1.0
club_member_status,1365918,3,6062,object,ACTIVE,LEFT CLUB
fashion_news_frequency,1355969,3,16011,object,NONE,Monthly
age,1356119,84,15861,float64,21.0,94.0
postal_code,1371980,352899,0,object,2c29ae653a9282cce4151bd87643c907644e09541abc28...,980c99b13848ea53eaf6a70cbc07d7db4f64ed1739023b...